<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css" media="all">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-YiFL0KzyOz04lQGfKD7j_eETfSUkQ3I"></script>
    <script src= "/socket.io/socket.io.js"></script>
    <script src= "cartoInit.js"></script>


  </head>
  <body onload="initialize();">
    <div id="map_canevas"></div>
      <div id = "legende"> 

    <p> <button id="geolocation" type="button" onclick="geolocation();">Me géolocaliser</button></p>
  
    <img src='img/bikeok.png' width="23" height="35"> Vélos disponibles <br>
    <img src='img/bikeoo.png' width="23" height="35"> Peu de vélo disponible  <br>
    <img src='img/nobike.png' width="23" height="35"> Plus de vélo  <br>
    <img src='img/croix.png' width="23" height="35"> Station déconnectée <br>

    

    </div>  

    <div id="info-box">
     
    </div>


    </body>
  </html>